<template>
  <div id="about">
    <div class="about__section">
      <div class="about__wrapper">
        <h3 class="section__title">Why this is awesome</h3>
        <hr class="section__divider">
        <p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="characteristics">
          <div v-for="characteristic in characteristics" class="characteristic" :key="characteristic.title">
            <div class="characteristic__icon__wrapper">
              <font-awesome-icon class="characteristic__icon" :icon="[characteristic.iconType, characteristic.icon]" size="2x"></font-awesome-icon>
            </div>
            <h4 class="characteristic__title">{{ characteristic.title }}</h4>
            <p class="characteristic__description">{{ characteristic.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      characteristics: [
        {
          icon: 'lightbulb',
          iconType: 'far',
          title: 'Thoughtful Design',
          description: `Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Aenean euismod bibendum laoreet. Proin gravida
          dolor sit amet lacus accumsan et viverra.`
        },
        {
          icon: 'keyboard',
          iconType: 'far',
          title: 'Well Crafted',
          description: `Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Aenean euismod bibendum laoreet. Proin gravida
          dolor sit amet lacus accumsan et viverra.`
        },
        {
          icon: 'bolt',
          iconType: 'fas',
          title: 'Easy to Customize',
          description: `Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Aenean euismod bibendum laoreet. Proin gravida
          dolor sit amet lacus accumsan et viverra.`
        }
      ]
    }
  }
}
</script>

<style scoped>
  .about__wrapper {
    width: 1100px;
    text-align: center;
  }

  .about__section {
    padding: 110px 8px;
    display: flex;
    justify-content: center;
    background-color: #fff;
  }

  .section__title {
    color: #333;
    font-size: 36px;
    font-family: Raleway, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
  }

  .section__divider {
    width: 60px;
    border: none;
    border-bottom: 2px solid #f96;
    margin: 28px auto;
  }

  .section__description {
    color: #999;
    margin-bottom: 52px;
  }

  .characteristics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .characteristic {
    max-width: 352px;
    margin: 0 7px;
  }

  .characteristic__icon__wrapper {
    width: 70px;
    height: 70px;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f96;
    border: 2px solid #f96;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 28px auto;
  }

  .characteristic__title {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 28px;
  }

  .characteristic__description {
    color: #999;
  }

  @media screen and (max-width: 1128px) {
    .characteristics {
      justify-content: space-around;
    }
  }

  @media screen and (max-width: 762px) {
    .characteristic {
      margin-bottom: 28px;
    }

    .characteristic:last-child {
      margin-bottom: 0;
    }
  }
</style>
