<template>
  <div class="brand-bar">
    <div class="brand-bar__wrapper">
      <div class="brand-bar__about">
        <h4 class="brand-bar__title">Social media</h4>
        <p class="brand-bar__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
          bibendum laoreet</p>
      </div>
      <Socials icon-size="3x"/>
    </div>
  </div>
</template>

<script>
import Socials from './Socials'

export default {
  components: {
    Socials
  }
}
</script>

<style scoped>
  .brand-bar {
    padding: 20px 8px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ccc;
  }

  .brand-bar__wrapper {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .brand-bar__about {
    max-width: 365px;
  }

  .brand-bar__title {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  .brand-bar__description {
    color: #999;
  }

  @media screen and (max-width: 1088px) {
    .brand-bar__wrapper {
      justify-content: center;
    }

    .social__icons {
      justify-content: space-around;
    }
  }

  @media screen and (max-width: 983px) {
    .brand-bar__about {
      text-align: center;
      margin-bottom: 15px;
    }
  }
</style>
