<template>
  <div id="contact">
    <div class="contact__section">
      <div class="contact__wrapper">
        <h3 class="section__title">Contact us</h3>
        <hr class="section__divider">
        <p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <form class="contact__form">
          <div class="contact__form__section__wrapper">
            <div class="contact__form__section">
              <input class="contact__form__field" id="contactName" name="contactName" type="text" placeholder="Name">
              <input class="contact__form__field" id="contactEmail" name="contactEmail" type="email" placeholder="Email">
              <input class="contact__form__field" id="contactSubject" name="contactSubject" type="text" placeholder="Subject">
            </div>
            <div class="contact__form__section">
              <textarea
                class="contact__form__field"
                id="contactMessage"
                name="contactMessage"
                cols="30"
                rows="10"
                placeholder="Message"
              ></textarea>
            </div>
          </div>
          <div class="contact__form__btn__wrapper">
            <button class="contact__form__btn" type="submit">Send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
  .contact__wrapper {
    width: 1100px;
    text-align: center;
  }

  .contact__section {
    padding: 110px 8px;
    display: flex;
    justify-content: center;
    background-color: #fff;
  }

  .section__title {
    color: #333;
    font-size: 36px;
    font-family: Raleway, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
  }

  .section__divider {
    width: 60px;
    border: none;
    border-bottom: 2px solid #f96;
    margin: 28px auto;
  }

  .section__description {
    color: #999;
    margin-bottom: 52px;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
  }

  .contact__form__section__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .contact__form__section {
    width: 515px;
    display: flex;
    flex-direction: column;
  }

  .contact__form__section:first-child {
    margin-right: 20px;
  }

  .contact__form__field {
    padding: 10px;
    color: #aaa;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 35px;
  }

  .contact__form__field:focus {
    border-bottom: 1px solid #aaa;
  }

  .contact__form__field::placeholder {
    color: #ccc;
  }

  .contact__form__field:last-child {
    margin-bottom: 0;
  }

  #contactMessage {
    margin-bottom: 0;
  }

  .contact__form__btn__wrapper {
    text-align: center;
  }

  .contact__form__btn {
    padding: 14px 28px;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
    text-transform: capitalize;
    border: none;
    background-color: #f96;
  }

  @media screen and (max-width: 1080px) {
    .contact__form__section__wrapper {
      flex-direction: column;
    }

    .contact__form__section {
      width: 100%;
    }

    .contact__form__field {
      width: 515px;
      margin-left: auto;
      margin-right: auto;
    }

    .contact__form__section:first-child {
      margin-right: 0;
      margin-bottom: 35px;
    }
  }

  @media screen and (max-width: 550px) {
    .contact__form__field {
      width: 100%;
    }
  }
</style>
