<template>
  <div id="custom">
    <div class="custom__section">
      <div class="custom__wrapper">
        <h3 class="section__title">Stylish axure design</h3>
        <hr class="section__divider">
        <p class="section__description">Use the sections you need, remove the ones you don't.  Create gorgeous prototypes faster than ever!</p>
        <button class="custom__section__btn" type="button">Download</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
  #custom {
    background: linear-gradient(0deg, rgba(0, 0, 0, .52), rgba(0, 0, 0, .52)), url("~assets/images/custom_bg.jpeg");
    background-size: cover;
  }

  .custom__wrapper {
    width: 1100px;
    text-align: center;
  }

  .custom__section {
    padding: 64px 8px;
    display: flex;
    justify-content: center;
  }

  .section__title {
    color: #fff;
    font-size: 36px;
    font-family: Raleway, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
  }

  .section__divider {
    width: 60px;
    border: none;
    border-bottom: 2px solid #fff;
    margin: 28px auto;
  }

  .section__description {
    color: #fff;
    margin-bottom: 28px;
  }

  .custom__section__btn {
    padding: 14px 28px;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
    border: 2px solid #fff;
    background: transparent;
  }
</style>
