<template>
    <div class="tabs__wrapper">
      <div class="tabs__buttons">
        <button
          v-for="(section, index) in tabSections"
          @click="displaySection(index)"
          :id="`tab${index}`"
          class="tab"
          type="button"
          :key="index"
        >
          Tab {{ index + 1 }}
        </button>
      </div>
      <div class="tabs__content">
        <section
          v-for="(section, index) in tabSections"
          :id="`tabSection${index}`"
          class="tab__section"
          :key="index"
        >
          <div class="tab__content">
            <h5 class="tab__content__title">{{ section.title }}</h5>
            <p class="tab__content__about">{{ section.about }}</p>
            <p class="tab__content__summary">{{ section.summary }}</p>
            <button class="tab__content__btn" type="button">Download</button>
          </div>
          <img class="tab__content__image" src="@/assets/images/tabs_city.png" alt="Section image - city">
        </section>
      </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      tabSections: [
        {
          title: 'Tabs with soft transitioning effect.',
          about: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
          Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes.`,
          summary: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.'
        },
        {
          title: 'Tabs with soft transitioning effect.',
          about: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
          Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes.`,
          summary: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.'
        },
        {
          title: 'Tabs with soft transitioning effect.',
          about: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
          Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes.`,
          summary: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.'
        }
      ]
    }
  },
  created () {
    if (process.client) {
      window.onload = function () {
        document.querySelector('.tabs__buttons').firstElementChild.classList.add('active')
        document.querySelector('.tabs__content').firstElementChild.classList.add('active')
      }
    }
  },
  methods: {
    displaySection (index) {
      document.querySelector('.tab.active').classList.remove('active')
      document.querySelector(`#tab${index}`).classList.add('active')
      const oldActiveElem = document.querySelector('.tab__section.active')
      const slideOutAnimation = oldActiveElem.animate([
        { opacity: 1, transform: 'scale(1)' },
        { opacity: 0, transform: 'scale(0)' }
      ], {
        duration: 500,
        easing: 'ease',
        fill: 'forwards'
      })
      slideOutAnimation.onfinish = function () {
        oldActiveElem.classList.remove('active')
        oldActiveElem.style.display = 'none'
        const newActiveElem = document.querySelector(`#tabSection${index}`)
        newActiveElem.classList.add('active')
        newActiveElem.style.display = 'flex'
        newActiveElem.animate([
          { opacity: 0, transform: 'scale(0)' },
          { opacity: 1, transform: 'scale(1)' }
        ], {
          duration: 500,
          easing: 'ease',
          fill: 'forwards'
        })
      }
    }
  }
}
</script>

<style scoped>
  .tabs__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .tabs__buttons {
    display: flex;
    flex-direction: column;
    margin-right: 84px;
  }

  .tab {
    width: 110px;
    height: 110px;
    color: #fff;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #333;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .tab.active {
    background-color: #f96;
  }

  .tab:first-child {
    border-radius: 5px 5px 0 0;
  }

  .tab:last-child {
    border-radius: 0 0 5px 5px;
  }

  .tab__section {
    display: none;
  }

  .tab__section.active {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .tab__content {
    max-width: 500px;
    margin-right: 76px;
  }

  .tab__content__title {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .tab__content__about {
    color: #999;
    margin-bottom: 28px;
  }

  .tab__content__summary {
    color: #999;
    margin-bottom: 50px;
  }

  .tab__content__btn {
    padding: 12px 24px;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
    background-color: #f96;
    border: none;
    border-right: 5px;
    cursor: pointer;
  }

  .tab__content__image {
    max-width: 318px;
  }

  @media screen and (max-width: 1118px) {
    .tabs__wrapper {
      flex-direction: column-reverse;
      justify-content: center;
    }

    .tabs__buttons {
      flex-direction: row;
      justify-content: center;
      margin-right: 0;
    }

    .tab:first-child {
      border-radius: 5px 0 0 5px;
    }

    .tab:last-child {
      border-radius: 0 5px 5px 0;
    }

    .tabs__content {
      margin-bottom: 50px;
    }

    .tab__section {
      justify-content: space-around;
    }

    .tab__content {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 848px) {
    .tab__section {
      flex-direction: column-reverse;
    }

    .tab__content {
      text-align: center;
    }

    .tab__content__image {
      margin-bottom: 50px;
    }
  }

  @media screen and (max-width: 420px) {
    .tab {
      width: 70px;
      height: 70px;
    }

    .tab__content__about {
      text-align: center;
    }

    .tab__content__image {
      width: 100%;
    }
  }
</style>
