<template>
    <div class="picture__wrapper">
      <div class="section__content">
        <h4 class="section__title">Standard picture section</h4>
        <hr class="section__divider">
        <p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
          euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
          et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis
          natoque penatibus et magnis dis parturient montes.</p>
        <p class="section__summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
          bibendum laoreet.</p>
      </div>
      <img class="section__image" src="@/assets/images/picture_city.png" alt="Section image - city">
    </div>
</template>

<script>
export default {}
</script>

<style scoped>
  .picture__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .section__content {
    max-width: 475px;
  }

  .section__title {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
  }

  .section__divider {
    width: 60px;
    border: none;
    border-bottom: 2px solid #f96;
    margin: 28px 0;
  }

  .section__description {
    margin-bottom: 28px;
  }

  .section__description,
  .section__summary {
    color: #999;
  }

  .section__image {
    max-width: 455px;
  }

  @media screen and (max-width: 960px) {
    .picture__wrapper {
      justify-content: center;
    }

    .section__content {
      text-align: center;
      margin-bottom: 30px;
    }

    .section__divider {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media screen and (max-width: 500px) {
    .section__image {
      width: 100%;
    }
  }
</style>
