<template>
  <div id="features">
    <div class="feature__section tabs__section">
      <div class="feature__wrapper">
        <FeaturesTab/>
      </div>
    </div>
    <div class="feature__section sublist__section">
      <div class="feature__wrapper">
        <FeaturesSublist/>
      </div>
    </div>
    <div class="feature__section picture__section">
      <div class="feature__wrapper">
        <FeaturesPicture/>
      </div>
    </div>
  </div>
</template>

<script>
import FeaturesTab from './FeaturesTab'
import FeaturesSublist from './FeaturesSublist'
import FeaturesPicture from './FeaturesPicture'

export default {
  components: {
    FeaturesTab,
    FeaturesSublist,
    FeaturesPicture
  }
}
</script>

<style scoped>
  .feature__wrapper {
    width: 1100px;
  }

  .feature__section {
    padding: 110px 8px;
    display: flex;
    justify-content: center;
  }

  .tabs__section,
  .picture__section {
    background-color: #f5f5f5;
  }

  .sublist__section {
    background-color: #fff;
  }
</style>
