<template>
  <div class="sublist__wrapper">
    <img class="sublist__image" src="@/assets/images/sublist_city.png" alt="Section image - city">
    <div class="section__content">
      <h4 class="section__title">Sub list section</h4>
      <hr class="section__divider">
      <p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
        euismod bibendum laoreet. Proin gravida dolor sit amet lacus
        accumsan et viverra justo commodo.</p>
      <ul class="sublist">
        <li v-for="(item, index) in sublistItems" class="sublist__item" :key="index">
          <div class="item__icon__wrapper">
            <font-awesome-icon class="item__icon" :icon="['fas', 'cloud-download-alt']"></font-awesome-icon>
          </div>
          <div class="item__content">
            <h5 class="item__title">{{ item.title }}</h5>
            <p class="item__description">{{ item.description }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      sublistItems: [
        {
          title: 'Title',
          description: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenean euismod bibendum laoreet.`
        },
        {
          title: 'Title',
          description: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenean euismod bibendum laoreet. Proin gravida dolor
          sit amet lacus accumsan et viverra justo commodo.`
        }
      ]
    }
  }
}
</script>

<style scoped>
  .sublist__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .sublist__image,
  .section__content {
    max-width: 450px;
  }

  .section__title {
    color: #333;
    font-size: 20px;
    font-weight: bold;
  }

  .section__divider {
    width: 60px;
    border: none;
    border-bottom: 2px solid #f96;
    margin: 28px 0;
  }

  .section__description {
    color: #999;
    margin-bottom: 30px;
  }

  .sublist {
    list-style-type: none;
    padding: 0;
  }

  .sublist__item {
    padding: 20px 0;
    display: flex;
  }

  .item__icon__wrapper {
    width: 40px;
    height: 40px;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f96;
    border: 2px solid #f96;
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 36px;
  }

  .item__title {
    font-weight: bolder;
    margin-bottom: 12px;
  }

  .item__description {
    color: #999;
  }

  @media screen and (max-width: 930px) {
    .sublist__wrapper {
      justify-content: center;
    }

    .section__title,
    .section__description {
      text-align: center;
    }

    .section__divider {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media screen and (max-width: 500px) {
    .sublist__image {
      width: 100%;
    }

    .item__icon__wrapper {
      margin: 0 20px 0 12px;
    }
  }
</style>
