<template>
  <footer class="footer">
    <div class="footer__wrapper">
      <Socials class="footer__socials" icon-size="2x" icon-wrapper-width="60px"/>
      <div class="author">&copy; {{ year }} Axure Themes, coded by Paweł Spierewka</div>
    </div>
  </footer>
</template>

<script>
import Socials from './Socials'
export default {
  computed: {
    year () {
      return new Date().getFullYear()
    }
  },
  components: {
    Socials
  }
}
</script>

<style scoped>
  .footer {
    background-color: #000;
  }

  .footer__wrapper {
    max-width: 1100px;
    padding: 0 8px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__socials {
    margin: 0 auto;
  }

  .author {
    color: #fff;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
  }

  @media screen and (max-width: 451px) {
    .social__icons {
      justify-content: space-around;
    }
  }
</style>
