<template>
  <header class="brand_header">
    <div class="header__wrapper">
      <div class="header__info">
        <img class="header__logo" src="@/assets/images/logo.png" alt="Logo">
        <h2 class="header__motto">Modern axure template for beautiful prototypes</h2>
        <hr class="header__divider">
        <p class="header__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
          laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
        <button class="header__download-btn" type="button">Download</button>
      </div>
      <div class="header__sign-up-form">
        <div class="form__header">
          <h3>Try your <em :style="{ color: '#f96', fontStyle: 'normal' }">FREE</em> trial today</h3>
        </div>
        <form>
          <div class="fields__wrapper">
            <input class="field__input" id="name" name="name" type="text" placeholder="Name">
            <input class="field__input" id="email" name="email" type="email" placeholder="Email">
            <input class="field__input" id="password" name="password" type="password" placeholder="Password">
          </div>
          <button class="form__button" type="submit">Get Started</button>
        </form>
      </div>
    </div>
  </header>
</template>

<script>
export default {}
</script>

<style scoped>
  .brand_header {
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, .52), rgba(0, 0, 0, .52)), url("~assets/images/header_bg.jpeg");
    background-size: cover;
  }

  .header__wrapper {
    width: 1100px;
    padding: 110px 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .header__info {
    width: 522px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;
    margin-right: 34px;
  }

  .header__logo {
    width: 174px;
    height: 60px;
  }

  .header__motto {
    font-size: 36px;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    margin: 32px 0;
  }

  .header__divider {
    width: 64px;
    border: none;
    border-bottom: 3px solid #fff;
  }

  .header__description {
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: lighter;
    margin: 44px 0;
  }

  .header__download-btn {
    width: 134px;
    padding: 16px 24px;
    background: none;
    font-size: 15px;
    color: #fff;
    font-weight: bolder;
    border: 2px solid #fff;
  }

  .header__sign-up-form {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 3px;
  }

  .form__header {
    padding: 20px 40px;
    color: #333;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    background-color: #f5f5f5;
  }

  .fields__wrapper {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .field__input {
    padding: 10px;
    color: #aaa;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 30px;
  }

  .field__input:focus {
    border-bottom: 1px solid #aaa;
  }

  .field__input::placeholder {
    color: #ccc;
  }

  .field__input:last-child {
    margin-bottom: 10px;
  }

  .form__button {
    width: 100%;
    display: block;
    padding: 20px 0;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
    background-color: #f96;
    border: none;
  }

  @media screen and (max-width: 946px) {
    .header__wrapper {
      justify-content: center;
    }

    .header__info {
      width: 100%;
      justify-content: center;
      text-align: center;
      margin-right: 0;
    }

    .header__logo,
    .header__divider,
    .header__download-btn {
      margin: 0 auto;
    }

    .header__download-btn {
      margin-bottom: 50px;
    }
  }
</style>
