<template>
  <nav class="nav">
    <div class="nav__wrapper">
      <img class="nav__logo" src="@/assets/images/logo.png" alt="Logo">
      <button @click="menu = !menu" class="nav__hamburger" type="button">
        <font-awesome-icon class="hamburger__icon" icon="bars" size="lg"/>
      </button>
      <ul class="nav__list">
        <li v-for="item in navItems" class="nav__list__item" :key="item">
          <a class="item__link" :href="`#${item}`">
            {{ `${item.charAt(0).toUpperCase()}${item.slice(1)}`}}
          </a>
        </li>
      </ul>
    </div>
    <ul :class="menu ? 'nav__list--mobile active' : 'nav__list--mobile'">
      <li v-for="item in navItems" class="nav__list__item" :key="item">
        <a @click="menu = !menu" class="item__link" :href="`#${item}`">
          {{ `${item.charAt(0).toUpperCase()}${item.slice(1)}`}}
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: {
    navItems: Array
  },
  data () {
    return {
      menu: false
    }
  }
}
</script>

<style scoped>
  .nav {
    display: flex;
    justify-content: center;
    background-color: #000;
  }

  .nav__wrapper {
    width: 1100px;
    padding: 20px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    z-index: 1;
  }

  .nav__logo {
    width: 80px;
    height: 30px;
  }

  .nav__hamburger {
    display: none;
    position: absolute;
    top: 16px;
    right: 24px;
    padding: 8px 12px;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
  }

  .nav__list, .nav__list--mobile {
    list-style-type: none;
    background-color: #000;
  }

  .nav__list {
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  .nav__list--mobile {
    width: 100%;
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 16px 8px;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-356px);
    transition: .5s ease;
  }

  .nav__list--mobile.active {
    transform: translateY(0);
    transition: .5s ease;
  }

  .nav__list__item {
    margin-left: 48px;
    text-align: center;
  }

  .item__link {
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
  }

  @media screen and (max-width: 650px) {
    .nav__hamburger {
      display: block;
    }

    .nav__list {
      display: none;
    }

    .nav__list--mobile {
      display: block;
    }

    .nav__list__item {
      margin: 0;
    }

    .item__link {
      display: block;
      padding: 24px;
    }
  }
</style>
