<template>
  <div id="pricing">
    <div class="pricing__section">
      <div class="pricing__wrapper">
        <h3 class="section__title">Pricing options</h3>
        <hr class="section__divider">
        <p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="plans">
          <div v-for="plan in plans" class="plan" :key="plan.title">
            <h4 class="plan__title">{{ plan.title }}</h4>
            <div class="plan__pricing">
              <p class="plan__pricing__price">
                &dollar;<span class="plan__pricing__price--size">{{ plan.subscribe.price }}</span>
              </p>
              <p class="plan__pricing__subscription__duration">{{ plan.subscribe.duration }}</p>
              <p v-if="plan.subscribe.mostPopular" class="plan__pricing__popular">Our most popular</p>
              <hr v-else class="plan__pricing__popular__divider">
            </div>
            <div class="plan__features">
              <ul class="plan__features__list">
                <li class="features__list__item">{{ plan.features.space ? `${plan.features.space} GB of` : 'Unlimited'}} space</li>
                <li class="features__list__item">{{ plan.features.bandwidth ? `${plan.features.bandwidth} GB of` : 'Unlimited'}} bandwidth</li>
                <li class="features__list__item">{{ plan.features.websites }} websites</li>
                <li class="features__list__item">{{ plan.features.customization }} customization</li>
                <li class="features__list__item">Wordpress integration</li>
                <li class="features__list__item">{{ plan.features.support }} support</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      plans: [
        {
          title: 'Basic',
          subscribe: {
            price: 0,
            duration: 'Free for Life',
            mostPopular: false
          },
          features: {
            space: 1,
            bandwidth: 10,
            websites: 3,
            customization: 'Basic',
            support: 'Email',
          }
        },
        {
          title: 'Professional',
          subscribe: {
            price: 19,
            duration: 'Monthly Payment',
            mostPopular: true
          },
          features: {
            space: 5,
            bandwidth: 50,
            websites: 12,
            customization: 'Advanced',
            support: 'Email',
          }
        },
        {
          title: 'Enterprise',
          subscribe: {
            price: 70,
            duration: 'Monthly Payment',
            mostPopular: false
          },
          features: {
            space: null,
            bandwidth: null,
            websites: 100,
            customization: 'Advanced',
            support: '24/7 customer',
          }
        }
      ]
    }
  }
}
</script>

<style scoped>
  .pricing__wrapper {
    width: 1100px;
    text-align: center;
  }

  .pricing__section {
    padding: 110px 8px;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
  }

  .section__title {
    color: #333;
    font-size: 36px;
    font-family: Raleway, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
  }

  .section__divider {
    width: 60px;
    border: none;
    border-bottom: 2px solid #f96;
    margin: 28px auto;
  }

  .section__description {
    color: #999;
    margin-bottom: 52px;
  }

  .plans {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .plan {
    width: 340px;
    text-align: center;
  }

  .plan__title {
    padding: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #f5f5f5;
    background-color: #333;
  }

  .plan__pricing {
    color: #fff;
    background-color: #333;
  }

  .plan__pricing__price {
    font-size: 35px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
  }

  .plan__pricing__price--size {
    font-size: 94px;
  }

  .plan__pricing__subscription__duration {
    padding: 20px;
    font-weight: bolder;
    font-style: italic;
  }

  .plan__pricing__popular {
    padding: 12px;
    text-transform: uppercase;
    background-color: #f96;
  }

  .plan__pricing__popular__divider {
    width: 100%;
    border: none;
    border-bottom: 4px solid #f96;
  }

  .plan__features__list {
    list-style-type: none;
    padding: 0;
    background-color: #fff;
  }

  .features__list__item {
    padding: 14px;
    color: #999;
    text-transform: uppercase;
  }

  @media screen and (max-width: 1062px) {
    .plans {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    .plan {
      margin-bottom: 50px;
    }
  }

  @media screen and (max-width: 375px) {
    .plan {
      width: 100%;
    }
  }
</style>
