<template>
  <div id="reviews">
    <div class="reviews__section">
      <div class="reviews__wrapper">
        <h3 class="section__title">What our customers are saying</h3>
        <hr class="section__divider">
        <p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="reviews">
          <div v-for="(review, index) in reviews" class="review" :key="index">
            <div class="review__content">
              <p class="review__content__testimony">{{ review.testimony }}</p>
            </div>
            <div class="review__author">
              <img class="review__author__avatar" :src="require(`../assets/images/${review.avatar}.png`)" alt="User avatar">
              <div class="review__author__personalities">
                <p class="review__author__name">{{ review.firstName }} {{ review.lastName.charAt(0) }}.</p>
                <p class="review__author__position">{{ review.position }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews__mobile">
          <div v-for="(review, index) in reviews" class="review__mobile" :key="index">
            <div class="review__content">
              <p class="review__content__testimony">{{ review.testimony }}</p>
            </div>
            <div class="review__author">
              <img class="review__author__avatar" :src="require(`../assets/images/${review.avatar}.png`)" alt="User avatar">
              <div class="review__author__personalities">
                <p class="review__author__name">{{ review.firstName }} {{ review.lastName.charAt(0) }}.</p>
                <p class="review__author__position">{{ review.position }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    reviews: [Array]
  }
}
</script>

<style scoped>
  @-webkit-keyframes reviewSlideAnimation {
    0% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
    }

    25% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
    }

    33% {
      transform: translateX(-676px);
      -webkit-transform: translateX(-676px);
    }

    58% {
      transform: translateX(-676px);
      -webkit-transform: translateX(-676px);
    }

    66% {
      transform: translateX(676px);
      -webkit-transform: translateX(676px);
    }

    91% {
      transform: translateX(676px);
      -webkit-transform: translateX(676px);
    }

    100% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
    }
  }

  .reviews__wrapper {
    width: 1100px;
    text-align: center;
    overflow-x: hidden;
  }

  .reviews__section {
    padding: 110px 8px;
    display: flex;
    justify-content: center;
    background-color: #fff;
  }

  .section__title {
    color: #333;
    font-size: 36px;
    font-family: Raleway, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
  }

  .section__divider {
    width: 60px;
    border: none;
    border-bottom: 2px solid #f96;
    margin: 28px auto;
  }

  .section__description {
    color: #999;
    margin-bottom: 52px;
  }

  .reviews {
    display: flex;
    justify-content: space-between;
  }

  .reviews__mobile {
    display: none;
    overflow: hidden;
  }

  .review {
    width: 275px;
    text-align: left;
    margin-right: 20px;
  }

  .review:last-child {
    margin-right: 0;
  }

  .review__mobile {
    min-width: 276px;
    text-align: left;
    margin: 0 200px;
    animation-name: reviewSlideAnimation;
    animation-delay: 2s;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }

  .review__author {
    padding: 8px 0;
    display: flex;
    justify-content: flex-start;
  }

  .review__content {
    position: relative;
    margin-bottom: 20px;
  }

  .review__content:after {
    content: "";
    position: absolute;
    left: 24px;
    border-style: solid;
    border-width: 18px 10px 0 10px;
    border-color: #f5f5f5 transparent transparent transparent
  }

  .review__content__testimony {
    padding: 22px 10px;
    font-style: italic;
    background-color: #f5f5f5;
  }

  .review__author__avatar {
    width: 66px;
    height: 66px;
    border-radius: 50%;
  }

  .review__content__testimony,
  .review__author__position {
    color: #999;
  }

  .review__author__personalities {
    padding: 10px 18px;
  }

  .review__author__name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  @media screen and (max-width: 895px) {
    .reviews {
      display: none;
    }

    .reviews__mobile {
      display: flex;
      justify-content: center;
    }
  }
</style>
