<template>
  <div class="social__icons">
    <div v-for="icon in icons" class="social__icon__wrapper" :style="{ width: iconWrapperWidth }" :key="icon.name">
      <a class="social__icon" :href="icon.url" target="_blank">
        <font-awesome-icon :icon="[icon.type, icon.name]" :size="iconSize"></font-awesome-icon>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    iconSize: String,
    iconWrapperWidth: {
      type: String,
      default: '84px'
    }
  },
  data () {
    return {
      icons: [
        { type: 'fab', name: 'facebook-f', url: 'https://www.facebook.com' },
        { type: 'fab', name: 'twitter', url: 'https://www.twitter.com' },
        { type: 'fab', name: 'google-plus-g', url: 'https://www.google.com' },
        { type: 'fab', name: 'pinterest', url: 'https://www.pinterest.com' },
        { type: 'fab', name: 'instagram', url: 'https://www.instagram.com' },
        { type: 'fab', name: 'stumbleupon', url: 'https://www.facebook.com' },
        { type: 'fas', name: 'rss', url: '#' }
      ]
    }
  }
}
</script>

<style scoped>
  .social__icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .social__icon__wrapper {
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 15px;
  }

  .social__icon {
    color: #ccc;
    cursor: pointer;
  }

  @media screen and (max-width: 1088px) {
    .social__icon__wrapper {
      margin-left: 0;
    }
  }
</style>
