<template>
  <div>
    <nuxt/>
  </div>
</template>

<style>
html {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
</style>

