<template>
  <div>
    <Navigation :nav-items="navItems"/>
    <Header/>
    <BrandBar/>
    <Features/>
    <About/>
    <Pricing/>
    <Reviews :reviews="reviews"/>
    <Custom/>
    <Contact/>
    <Footer/>
  </div>
</template>

<script>
import Navigation from '../components/Navigation'
import Header from '../components/Header'
import BrandBar from '../components/BrandBar'
import Features from '../components/Features'
import About from '../components/About'
import Pricing from '../components/Pricing'
import Reviews from '../components/Reviews'
import Custom from '../components/Custom'
import Contact from '../components/Contact'
import Footer from '../components/Footer'

export default {
  data () {
    return {
      navItems: [
        'features',
        'about',
        'pricing',
        'reviews',
        'contact'
      ],
      reviews: [
        {
          avatar: 'user_avatar',
          firstName: 'Jeremy',
          lastName: 'Howard',
          position: 'Manager',
          testimony: `Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Doloribus
          accusamus expedita repellat similique
          odio aspernatur ex, architecto eaque
          quo suscipit.`
        },
        {
          avatar: 'user_avatar',
          firstName: 'John',
          lastName: 'Smith',
          position: 'Freelancer',
          testimony: `Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Doloribus
          accusamus expedita repellat similique
          odio aspernatur ex, architecto eaque
          quo suscipit.`
        },
        {
          avatar: 'user_avatar',
          firstName: 'Susan',
          lastName: 'White',
          position: 'Photographer',
          testimony: `Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Doloribus
          accusamus expedita repellat similique
          odio aspernatur ex, architecto eaque
          quo suscipit.`
        }
      ]
    }
  },
  components: {
    Navigation,
    Header,
    BrandBar,
    Features,
    About,
    Pricing,
    Reviews,
    Custom,
    Contact,
    Footer
  }
}
</script>

<style>
</style>

